*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-align-center {
  align-self: center;
}

.bg-color {
  background-color: #1d256d;
}

.border-radius {
  border-radius: 10px;
}

.width-80 {
  width: 80%;
}

.width-100 {
  width: 100%;
}

.container {
  background-image: url(bg-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.options-and-storage {
  width: 90%;
  margin-top: 250px;
}
.fylo-options {
  min-height: 200px;
  border-radius: 10px 100px 10px 10px;
  justify-content: center;
}

.logo {
  height: 50%;
  padding-top: 25px;
}

.options-icons {
  height: 50%;
  padding-bottom: 30px;
}

.icons {
  width: 50px;
  height: 50px;
  background-color: #050829;
  justify-content: center;
  margin-right: 15px;
}

.storage-info {
  margin-top: 20px;
  height: 160px;
  justify-content: center;
  color: whitesmoke;
}

.info-text {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
  font-size: 16px;

}

.storage-space-text {
  justify-content: space-between;
  padding-bottom: 20px;
}

.storage-alert-container {
  width: 100%;
  justify-content: center;
}

.storage-alert {
  width: 50%;
  height: 76px;
  background-color: whitesmoke;
  color: black;
  z-index: 2;
  margin-top: -38px;
  justify-content: center;
}

.storage-alert-triangle {
  width: 20%;
  z-index: 2;
  justify-content: flex-end;
  display: none;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent whitesmoke transparent transparent;
}

.storage-alert-texts {
  align-items: center;
}

.storage-alert-text {
  justify-content: center;
}

.storage-alert-text-one {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  padding-right: 10px;
}

.storage-alert-text-two {
  font-weight: 700;
  font-size: 14px;
  color: #909196;
  text-align: center;
  letter-spacing: 2;
  padding-left: 10px;
}

.progress {
  padding: 3px;
  border-radius: 10px;
  background: #14204a 
}

.progress-bar {
  height: 12px;
  border-radius: 10px; 
}

.progress-moved .progress-bar {
  width: 70%; 
  background-image: linear-gradient( to right, #F9BCCA, #EF476F );  
  animation: progressAnimation 6s;
}

@keyframes progressAnimation {
  0%   { width: 5%; background-image: linear-gradient(to right, #F9BCCA, #EF476F ); }
  100% { width: 70%; background-image: linear-gradient(to right, #F9BCCA, #EF476F ); }
}

@media only screen and (min-width: 768px) {
  .options-and-storage {
    width: 100%;
  }

  .fylo-options {
    width: 60%;
  }

  .storage-info {
    width: 60%;
  }

  .storage-alert {
    width: 30%;
  }
  
  .logo {
    justify-content: center;
    padding-right: 20px;
  }

  .options-icons {
    justify-content: center;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    flex-direction: column-reverse;
  }

  .options-and-storage {
    margin-bottom: 400px;
    margin-top: 0;
    flex-direction: row;
    justify-content: center;
  }

  .fylo-options {
    width: 25%;
    margin-right: 40px;
  }

  .storage-info {
    width: 40%;
    margin-bottom: -20px;
  }

  .storage-alert {
    width: 25%;
    border-bottom-right-radius: 0;
    align-self: flex-end;
  }

  .storage-alert-triangle {
    align-self: flex-end;
    display: inherit;
  }

  .info-text {
    width: 80%;
    text-align: start;
  }

  .storage-space-text {
    padding: 0;
  }

  .logo {
    padding-bottom: 10px;
    padding-right: 0;
    justify-content: start;
  }

  .options-icons {
    padding-top: 20px;
    justify-content: start;
  }

  .storage-alert-container {
    width: 59%;
    margin-bottom: -90px;
  }

}

